*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #EADBC8;
    padding: 10px;
}

.app {
    width: 85%;
    max-width: 500px;
    background-color: #DAC0A3;
    margin: 10px auto 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px grey;
}

.app h2 {
    text-align: center;
    margin-bottom: 20px;
}

.app input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    padding: 10px;
    flex: 1;
}

.app button {
    background-color: #0F2C59;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}

div.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F0E5;
    border-radius: 20px;
}

ul {
    margin-top: 20px;
}

ul li {
    list-style: none;
    margin-top: 10px;
    vertical-align: middle;
    position: relative;
}

ul li:hover::before, ul li:hover::after {
    cursor: pointer;
}

ul li::before{
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    margin: 0px 10px;    
    vertical-align: -.125em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%230F2C59" class="bi bi-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
}

ul li.checked {
    text-decoration: line-through;
    opacity: .5;
}

ul li.checked::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%230F2C59" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
}

ul li::after{
    display: inline-block;
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    right: 10px;
    vertical-align: -.125em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
}